.App {
	text-align: center;
	color: #222;
}

.container {
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	text-align: left;
	width: 40%;
	border: 2px solid black;
	padding-left: 20px;
}
.entrance {
	display: flex;
	justify-content: space-between;
}
.deleteBtn {
	margin-right: 40px;
	align-self: center;
	border-radius: 50%;
	padding: 5px 8px;
	color: #333;
	border: 3px solid #333;
	background-color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.submitBtn {
	padding: 10px 20px;
	color: #fff;
	border: none;
	background-color: #333;
	margin-left: 20px;
	font-size: 16px;
}

p {
	font-weight: 500;
}
.main h2 {
	margin: 0;
	padding: 0;
}
.main p {
	margin-top: 0;
}
.tempLoc :last-child {
	margin-bottom: 20px;
}

.tempLoc p {
	margin: 4px auto;
}

.inputCity {
	padding: 10px;
}
